build_config_subpath : buildconfig
release_tools_subpath : buildconfig\release-tools.config
confluence_tools_subpath : buildconfig\confluence-tools.config
candidate_subpath : candidates
config_lab_subpath : Config_lab
devel_environment_subpath : devel_environment
doc_subpath : doc
doc_metadata_subpath : metadata
user_validations_subpath : UserValidations
user_validations_all_version_subpath : AllVersions
user_validations_next_hotfix_subpath : _next_hotfix
user_validations_next_release_subpath : _next_release
user_validations_validation_files_subpath : ValidationFiles
user_validations_sql_updates_subpath : SQLUpdates
user_validations_latest_subpath : Latest
