chiasma :
    candidate_path : P:\lims\chiasma\candidates
    release_tools_config : P:\lims\chiasma\buildconfig\release-tools.config
    confluence_tools_config : P:\lims\chiasma\buildconfig\confluence-tools.config
    confluence_space_key : DOCCHI
    user_manual_base_name : chiasma-user-manual
    documentation_metadata_path : P:\lims\chiasma\doc\metadata
    owner : Molmed
testing-repo :
    candidate_path : c:\tmp
    release_tools_config : C:\GitRoot\release-tools\tests\edvard.config
    confluence_tools_config : P:\lims\chiasma\buildconfig\confluence-tools.config
    confluence_space_key : CHI
    user_manual_base_name : chiasma_space
    documentation_metadata_path : C:\Tmp\metadata
    owner : GitEdvard
