chiasma :
    root_path : P:\lims
    git_repo_name : chiasma
    exe_file_name_base : Chiasma
    project_root_dir : Chiasma
    confluence_space_key : DOCCHI
    owner : Molmed
    deploy_root_path : L:\Labsystem\Chiasma\Installation\Klient\Chiasma\Filer
testing-repo :
    root_path : C:\Tmp
    git_repo_name : testing-repo
    exe_file_name_base : SNP Quality Analysis Tool
    project_root_dir : SQAT3Client
    confluence_space_key : CHI
    owner : GitEdvard
    deploy_root_path : C:\Tmp\testing-repo-deploy
order :
    root_path : P:\lims
    git_repo_name : PlattformOrdMan
    exe_file_name_base : Order
    project_root_dir : PlattformOrdMan
    owner : Molmed
    deploy_root_path : L:\Labsystem\Chiasma\Installation\Klient\Order\Filer
sqat:
    root_path : P:\lims
    git_repo_name : SNPQualityAnalysisTool
    exe_file_name_base : SNP Quality Analysis Tool
    project_root_dir : SQAT3Client
    owner : Molmed
    deploy_root_path : L:\Labsystem\Chiasma\Installation\Klient\SNP Quality Analysis Tool
