<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlattformOrdMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlattformOrdMan.Properties.Settings>
            <setting name="DatabaseName" serializeAs="String">
                <value>BookKeeping_devel_{INITIALS}</value>
            </setting>
            <setting name="DatabaseCommandTimeout" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="DataServerAddress" serializeAs="String">
                <value>mm-wchs001</value>
            </setting>
            <setting name="DialogTitleStandard" serializeAs="String">
                <value>Plattform Order Manager</value>
            </setting>
            <setting name="ApplicationMode" serializeAs="String">
                <value>OFFICE</value>
            </setting>
            <setting name="AutomaticLogoutTimeLimit" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DefaultCurrency" serializeAs="String">
                <value>SEK</value>
            </setting>
            <setting name="DefaultTimeIntervalForPosts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultTimeRestrictionToCompletedPosts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegisterRecentPathSubKey" serializeAs="String">
                <value>Software\PlattformOrdMan\Paths</value>
            </setting>
            <setting name="RegisterRecentPathKey" serializeAs="String">
                <value>RecentPath</value>
            </setting>
            <setting name="BarCodeMaxTimeToRead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BarCodeLengthInternal" serializeAs="String">
                <value>8</value>
            </setting>
        </PlattformOrdMan.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
