<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Molmed.SQAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <Molmed.SQAT.Properties.Settings>
            <setting name="SNP_Quality_Analysis_Tool_ResultWebService_ResultWebService"
                serializeAs="String">
                <value>http://mm-wchs001:65203/ChiasmaResultServiceDevelopment/ResultWebService.asmx</value>
            </setting>
        </Molmed.SQAT.Properties.Settings>
    </applicationSettings>
</configuration>
